#station_title {
    color: #976EA1;
    text-align: center;
    padding-top: 120px;
}
#header_waves #station_title h1 {
    font-size: 40px;

}

.main {
    display: inline;	
}

#main-right {
    background-color: #000000;
    position: fixed;
    right: 0px;
    top: 250px;
    max-width: 150px;
}

#footer {
    background-image: url(../pic/footer_waves.svg);
    position: fixed;
    bottom: 0px;
    height: 150px;
}

#header_waves {
    background-image: url(../pic/header_waves.svg);
}
